body {
    background-color: #ffedf4;
    color: #2d081c;
    font-family: "MV Boli", sans-serif;
    padding: 20px;
}

.nav {
    background-color: #FFCDB2;
    color: #2d081c;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #FFB4A2;
    width: 100%;
}

.TaskButtons {
    background-color: #FFB4A2;
    color: #2d081c;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #E5989B;
}